.container
  %h2.new_comment 
    = @task.title
  .board_card
    .imgbox
      -if @task.eyecatch.attached?
        = image_tag @task.eyecatch, class: 'board_eyecatch'
      - else
        =image_tag 'default-eyecatch.jpg', class: 'board_eyecatch'
      .board_flex_box
        .board_title
          = @task.title
      .board_contens
        = @task.description
        = @task.endday
      .boards_avatar
        = image_tag @task.user.avatar_image
  %h2.new_comment コメント一覧
  - @comment.each do |comment|
    .card_comment
      .boards_avatar
        = image_tag comment.user.avatar_image
        .comment_text
          = comment.content
  = link_to new_board_task_comment_path(@board, @task) do
    .add_new_comment
      .add_new_comment_name
        +Add new comment