.container
  %h2.new_comment New Card
  .label1
    = form_with(model:@task, url:task_index_path, method:'post') do |f|
      %div
      = f.label :eyecatch, 'アイキャッチ'
      %div
      = f.file_field :eyecatch
      .field
        = f.label :title, "Name", class: 'name'
        %br/
        = f.text_field :title, class: 'rectangle'
      .field
        = f.label :description, "Description", class: 'name'
        %br/
        = f.text_field :description, class: 'content_input'
      .field
        = f.label :endday, '期限日', class: 'name'
        %br/
        = f.date_field :endday
        = f.submit "Submit", class: 'submit_btn'