.container
  %h2 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'texet'
    .field
      = f.label :password, class: 'texet'
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'texet'
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit "Log in", class: 'texet'
  = render "devise/shared/links"
