.container
  %h2.new_comment Log In
  .label1
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email, class: 'name'
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'rectangle'
      .field
        = f.label :password, class: 'name'
        %br/
        = f.password_field :password, autocomplete: "current-password", class: 'rectangle'
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Log in", class: 'submit_btn'
    = render "devise/shared/links"
