.container
  %h2.new_comment 
    = @board.title
  .board_card
    .imgbox
      -if @board.eyecatch.attached?
        = image_tag @board.eyecatch, class: 'board_eyecatch'
      - else
        =image_tag 'default-eyecatch.jpg', class: 'board_eyecatch'
      .board_flex_box
        .board_title
          = @board.title
        .board_dropdown
          .hover_image
            = image_tag 'Combined Shape.svg'
            .child
              = link_to 'Edit', edit_board_path
              %br
              = link_to 'Delete', @board_path, data: { method: 'delete', confirm: '削除しますか？' }
      .board_contens
        = @board.contens
      .boards_avatar
        = image_tag current_user.avatar_image
  - @task.each do |task|
    = link_to board_task_path(@board.id, task) do
      .board_card
        .imgbox
          -if task.eyecatch.attached?
            = image_tag task.eyecatch, class: 'board_eyecatch'
          - else
            =image_tag 'default-eyecatch.jpg', class: 'board_eyecatch'
          .board_flex_box
            .board_title
              = task.title
            .board_dropdown
              .hover_image
                = image_tag 'Combined Shape.svg'
                .child
                  = link_to 'Edit', edit_board_path(@board)
                  %br
                  = link_to 'Delete', board_path(@board),data: { method: 'delete', confirm: '削除しますか？' }
          .board_contens
            = task.description
          .boards_avatar
            = image_tag @board.user.avatar_image
  = link_to new_board_task_path(@board) do
    .add_new_board
      .add_new_board_name
        +Add new card